<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CP4a.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BAE634361BA85776004A2A61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAE6344D1BA85776004A2A61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAE634581BA85776004A2A61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
